      .accordion {
        border: 1px solid #000000;
        border-radius: 15px;
        overflow: hidden;

      }

      .accordion__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 25px;
        background-color: #b7b7b7;
        cursor: pointer;
        font-weight: bold;
      }

      .caret-down {
        width: 20px;
        height: 20px;
        transition: transform 0.3s ease;
      }

      .accordion__answer-bloc {
        overflow: hidden;
        height: 0;
        transition: height 0.3s ease;
      }

      .accordion__answer {
        padding: 25px;
      }

      .accordion__bloc.active .caret-down {
        transform: rotate(180deg);
      }