.container{
     display: grid;
   
    
}
.c-breadcrumb{
    display: flex; 
    justify-content: flex-start;
    list-style: none;
    background-color: aqua;

}
.c-breadcrumb li + li::before{
    content: ">";
    margin: 8px;
}
.c-products-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit ,minmax(150px,1fr));
    justify-content: center;
    gap:var(--product-grid-gap);
    border-radius: var(--border-radius-base);
    background-color: grey;
}
.c-product_thumb>img{
    border-radius: var(--border-radius-base);
    /* width: 70%; */
}

@media screen and (max-width: 600px) {
    .c-product{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .c-product_inner{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
    }
    .c-product_infos{
        flex: 1;
        display: flex;
       flex-direction: column;
       justify-content: center;
    }
    
 }

    
    
    



    


